# Tools for Data Science

### In this course tools for data science were discussed

##### Data science languages
1. python
2. R
3. php

##### Data science libraries
1. apache spark
2. numpy
3. pandas



| Data Science tools | 
| -------------| 
| Anaconda | 
| Julia | 
| Jupyter Notebook |

#### Examples of Arithmetic expressions

In [3]:
(3*8)+4+5

33

In [4]:
400/60

6.666666666666667

##### Unordered List
- hello
- my
- name
- is
- saloni

##### Authors

* Luciano Ramalho
* Mark Lutz
* Brett Slatkin